<template>
    <div class="">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">TITLE</th>
                    <th class="text-center">SUBJECT CODE</th>
                    <th class="text-center">FILE</th>
                    <th class="text-center">SEMESTER</th>
                    <th class="text-center">VIEWS</th>
                    <th class="text-center">DOWNLOADS</th>
                    <th class="text-center">CREATED AT</th>
                    <th class="text-center" style="width: 150px;">ACTION</th>
                </tr>
                </thead>
                <tbody>

                <tr class="title">

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Semister8",
        props: ['faculty-id'],
        methods:{
            getNotes(){
                axios.get('list_ajax/1')
                    .then(function (response) {
                        // handle success
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .finally(function () {
                        // always executed
                    });
            }
        },
        created(){
            this.getNotes();
        }
    }
</script>

<style scoped>

</style>
